

.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo_place_header {
  display: block;
  width: 228px;
  height: 32px;
  position: absolute;
  z-index: 99;
  top: 30px;
  left: 64px;
}

.logo_place_title {
  width: 730px;
  padding-left: 64px;
  z-index: 99;
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.logo_place_subtitle {
  display:block;
  width: 388px;
  position: absolute;
  z-index: 99;
  bottom: 30px;
  left: 64px;
  line-height: 26px;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_link {
  text-decoration: none;
}

.logo_place_main-illustration {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 99;
}

.logo_place_square-pic {
  display: block;
  position: absolute;
  width: 568px;
  height: 568px;
  background: #2f80ed;
  right: 0px;
  top: 64px;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  padding-bottom: 100px;
  display: flex;
  width: 80%;
  min-width: 784px;
  display: flex;
}

.two-columns__brief {
  flex: 0 0 175px;
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__brief h4 {
  margin: 0;
}

.two-columns__main-text {

}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top:20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.table_row{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.table_cell {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.table_heading h3{
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table_text {
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-color: #f2f2f2;
  height: 890px;
  position: relative;
  background-image: url(./images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman_title {

  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 99;
  margin-left: auto;
  margin-right: auto;
}

.feynman_subtitle{
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.feynman_link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  top: auto;
  bottom: auto;
  right: 0;
}

.feynman_img {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 867px;
  height: 637px;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
  background-image: url(./images/kaufman-triangle.svg);
  background-position: top 0 right -295px;
  background-repeat: no-repeat;
  background-size: 877px 877px;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  z-index: 1;
}

.section-title__theme_dark {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.section-subtitle__theme_dark {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top:20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.table__theme_dark  {
  width: 1100px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.table__cell_theme_dark {
  width: 200px;
  display: flex;
  flex-direction: column;
}

..table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.table__heading_theme_dark h3{
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.table__text_theme_dark {
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.table_row_dark {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 90%;
  flex-basis: 711px;
  margin-left: auto;
  margin-right:auto;
  justify-content: space-between;
}

.footer__column_content_copyright {
  position: relative;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.logo__place_footer {
  margin-left: 0px;
  margin-top: 0px;
}

.footer__author {
  position: absolute;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  bottom: 0;
  left: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 16px;
}

.footer__social-icon {
  text-decoration: none;
  color: white;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  height: 18px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
